html, body {
    height: 100%;
    margin: 0;
}

.title{
    text-align: center;
    color: rgb(0, 179, 255);
    background-color: rgb(48, 48, 238);
    font-size: 3em;
    margin: 0px;    
    font-family: nature_black;
    padding-top: 20px;
    padding-bottom: 20px;;
}

@font-face {
    font-family: nature_black; /* set name */
    src: url(zt_nature/ZTNature-Black.ttf); /* url of the font */
}

@font-face {
    font-family: nature_medium; /* set name */
    src: url(zt_nature/ZTNature-Medium.ttf); /* url of the font */
}

.seleziona{
    font-family: nature_medium;
    font-size: 80%;
    padding:10px;
    text-align: center;
    width: 27%;
}
#map {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}
.container{
    text-align: center;
    display:flex;
    justify-content: center;
}


/*stile pagina dettagli*/
.dettagli{
    background-color: rgb(14, 31, 83);
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding:10px 20px;
    color:white;
}
.commenti{
    color:rgb(171, 168, 168);
    font-size:60%;
}
.riga{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin:0;
}
p{
    margin:0;
}
.destra{
    font-size:110%;
}