html, body {
    height: 100%;
    margin: 0;
    background-color: aliceblue;
}

.title{
    text-align: center;
    color: aliceblue;
    background-color: rgb(69, 98, 194);
    font-size: 3em;
    margin: auto;    
    font-family: nature_black;
    padding-top: 20px;
    padding-bottom: 20px;
    width:60%;
}

@font-face {
    font-family: nature_black; /* set name */
    src: url(zt_nature/ZTNature-Black.ttf); /* url of the font */
}

@font-face {
    font-family: nature_medium; /* set name */
    src: url(zt_nature/ZTNature-Medium.ttf); /* url of the font */
}

.seleziona{
    font-family: nature_medium;
    font-size: 120%;
    padding:15px;
    text-align: center;
    background-color: aliceblue;
    color:rgb(69, 98, 194);
    border-radius: 10px;
    width:32%;
    margin:5px;
}
#map {
    height: 600px;
    width: 600px;
    margin: auto;
}
.containerSelect{
    display:flex;
    background-color: rgb(69, 98, 194);; 
    justify-content: space-between;
    padding:10px;
}
.container{
    width:60%;
    margin:auto;
    background-color: rgb(69, 98, 194);; 
    justify-content: space-between;
    height:100%;
}

/*stile pagina dettagli*/
.dettagli{
    background-color: rgb(14, 31, 83);
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding:10px 20px;
    color:white;
}
.commenti{
    color:rgb(171, 168, 168);
    font-size:60%;
}
.riga{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin:0;
}
p{
    margin:0;
}
.destra img{
    width: 50px; 
    height: 50px;
}
.containerOra{
    display:flex;
    color:rgb(171, 168, 168);
    font-size:60%;
}
.containerTemperature{
    
    margin-top:20px;
    display:flex;
}
.TemperaturaOra{
    width:16.67%;
    text-align:center;
    justify-content: center;
}
.containerIcone{
    display:flex;
    font-size:250%;
}
.iconaBox{
    width:16.67%;
    text-align:center;
    justify-content: center;
    margin:0;
}
.icone{
    width:40px;
    height:40px;
}
h3{
    margin:0;
}
.orario{
    width:16.67%;
    text-align:center;
    justify-content: center;
}
.orario p{
    margin:0;
}
.commentiOrario{
    color:rgb(171, 168, 168);
    font-size:60%;
}
.containerGiorniSuccessivi{
    margin-top:20px;
    display:block;
    background-color: rgb(29, 50, 116);
    border-radius:10px;
}
.rigaGiorni{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
    color:rgb(171, 168, 168);
    margin:1px;
    border-radius:10px;
}
.rigaGiorni:hover{
    background-color: rgb(43, 67, 146);
}
.sinistraGiorni{
    width:33%;
}
.centroGiorni{
    width:33%;
}
.centroGiorni img{
    width:60px;
    height:60px;
}
.destraGiorni{
    width:33%;
    font-size:80%;
}
#loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 2rem;
  z-index: 9999;
}
@media screen and (min-width:800px) and (max-width:1200px)
{
    .containerSelect{
        display:block;
    }
    .seleziona{
        width:100%;
    }
    #map{
        width:400px;
        height:400px;
    }
}
