html, body {
    height: 100%;
    margin: 0;
}

.title{
    text-align: center;
    color: rgb(0, 179, 255);
    background-color: rgb(48, 48, 238);
    font-size: 3em;
    margin: 0px;    
    font-family: nature_black;
    padding-top: 20px;
    padding-bottom: 20px;;
}

@font-face {
    font-family: nature_black; /* set name */
    src: url(zt_nature/ZTNature-Black.ttf); /* url of the font */
}

@font-face {
    font-family: nature_medium; /* set name */
    src: url(zt_nature/ZTNature-Medium.ttf); /* url of the font */
}

.seleziona{
    font-family: nature_medium;
    font-size: 80%;
    padding:10px;
    text-align: center;
    width: 27%;
}
#map {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}
.container{
    text-align: center;
    display:flex;
    justify-content: center;
}


/*stile pagina dettagli*/
.dettagli{
    background-color: rgb(14, 31, 83);
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding:10px 20px;
    color:white;
}
.commenti{
    color:rgb(171, 168, 168);
    font-size:60%;
}
.riga{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin:0;
}
p{
    margin:0;
}
.destra img{
    width: 50px; 
    height: 50px;
}
.containerOra{
    display:flex;
    color:rgb(171, 168, 168);
    font-size:60%;
}
.containerTemperature{
    
    margin-top:20px;
    display:flex;
}
.TemperaturaOra{
    width:16.67%;
    text-align:center;
    justify-content: center;
}
.containerIcone{
    display:flex;
    font-size:250%;
}
.iconaBox{
    width:16.67%;
    text-align:center;
    justify-content: center;
    margin:0;
}
.icone{
    width:40px;
    height:40px;
}
h3{
    margin:0;
}
.orario{
    width:16.67%;
    text-align:center;
    justify-content: center;
}
.orario p{
    margin:0;
}
.commentiOrario{
    color:rgb(171, 168, 168);
    font-size:60%;
}
.containerGiorniSuccessivi{
    margin-top:20px;
    display:flex;
    background-color: rgb(29, 50, 116);
    border-radius:10px;
}